<%# The default page shown for a user who is not logged in %>
<!DOCTYPE html>
<html lang="en">
  <%- include("fragments/htmlHead"); %>
  <body>
    <div class="pageFrame">
      <%- include("fragments/header"); %>
      <div class="panelContainer">
        <div>
          <div class="loginPanelHeader">Login</div>
          <form action="" class="loginPanel">
            <div class="loginFields">
              <div>
                <label for="username">Username: </label
                ><input type="text" name="username" id="username" />
              </div>
              <div>
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" />
              </div>
            </div>
            <button class="loginButton" type="submit">Login</button>
          </form>
        </div>

        <div>
          <div class="registerPanelHeader">Register</div>
          <form action="" class="registerPanel">
            <a href="/register">Click here to register a new account!</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
