<%# The default page shown for a user who is not logged in %>
<!DOCTYPE html>
<html lang="en">
  <%- include("fragments/htmlHead"); %>
  <body>
    <div class="pageFrame">
      <%- include("fragments/header"); %>
      <div class="loginFormHeader">Login Form!</div>
      <form action="" class="loginForm"></form>
    </div>
  </body>
</html>
